

/* ------------------------A parti de acá van las cosas que agregue yo  -------------------------------*/

.detail {
  background: #999;
  height: 85vh;
  width: calc(100%- 40px);
  overflow: auto;
  padding-right: 20px;
  padding-left: 20px;
}


@media (max-width:64em) {
  .detail {
    height: 40vh;
  }
}